package s2

import (
	"time"
)

// {{ syncDoc "BasinScope" }}
type BasinScope uint

const (
	// {{ syncDocIndent "BasinScope_BASIN_SCOPE_UNSPECIFIED" }}
	BasinScopeUnspecified BasinScope = iota
	// {{ syncDocIndent "BasinScope_BASIN_SCOPE_AWS_US_EAST_1" }}
	BasinScopeAwsUSEast1
)

// {{ syncDoc "BasinState" }}
type BasinState uint

const (
	// {{ syncDocIndent "BasinState_BASIN_STATE_UNSPECIFIED" }}
	BasinStateUnspecified BasinState = iota
	// {{ syncDocIndent "BasinState_BASIN_STATE_ACTIVE" }}
	BasinStateActive
	// {{ syncDocIndent "BasinState_BASIN_STATE_CREATING" }}
	BasinStateCreating
	// {{ syncDocIndent "BasinState_BASIN_STATE_DELETING" }}
	BasinStateDeleting
)

// {{ syncDoc "BasinInfo" }}
type BasinInfo struct {
	// {{ syncDocIndent "BasinInfo.Name" }}
	Name string
	// {{ syncDocIndent "BasinInfo.Scope" }}
	Scope BasinScope
	// {{ syncDocIndent "BasinInfo.State" }}
	State BasinState
}

// {{ syncDoc "ListBasinsRequest" }}
type ListBasinsRequest struct {
	// {{ syncDocIndent "ListBasinsRequest.Prefix" }}
	Prefix string
	// {{ syncDocIndent "ListBasinsRequest.StartAfter" }}
	StartAfter string
	// {{ syncDocIndent "ListBasinsRequest.Limit" }}
	Limit *uint64
}

// {{ syncDoc "ListBasinsResponse" }}
type ListBasinsResponse struct {
	// {{ syncDocIndent "ListBasinsResponse.Basins" }}
	Basins []BasinInfo
	// {{ syncDocIndent "ListBasinsResponse.HasMore" }}
	HasMore bool
}

// {{ syncDoc "StreamInfo" }}
type StreamInfo struct {
	// {{ syncDocIndent "StreamInfo.Name" }}
	Name string
	// {{ syncDocIndent "StreamInfo.CreatedAt" }}
	CreatedAt time.Time
	// {{ syncDocIndent "StreamInfo.DeletedAt" }}
	DeletedAt *time.Time
}

// {{ syncDoc "ListStreamsRequest" }}
type ListStreamsRequest struct {
	// {{ syncDocIndent "ListStreamsRequest.Prefix" }}
	Prefix string
	// {{ syncDocIndent "ListStreamsRequest.StartAfter" }}
	StartAfter string
	// {{ syncDocIndent "ListStreamsRequest.Limit" }}
	Limit *uint64
}

// {{ syncDoc "ListStreamsResponse" }}
type ListStreamsResponse struct {
	// {{ syncDocIndent "ListStreamsResponse.Streams" }}
	Streams []StreamInfo
	// {{ syncDocIndent "ListStreamsResponse.HasMore" }}
	HasMore bool
}

// {{ syncDoc "StorageClass" }}
type StorageClass uint

const (
	// {{ syncDocIndent "StorageClass_STORAGE_CLASS_UNSPECIFIED" }}
	StorageClassUnspecified StorageClass = iota
	// {{ syncDocIndent "StorageClass_STORAGE_CLASS_STANDARD" }}
	StorageClassStandard
	// {{ syncDocIndent "StorageClass_STORAGE_CLASS_EXPRESS" }}
	StorageClassExpress
)

// {{ syncDoc "StreamConfig_Age.Age" }}
type RetentionPolicyAge time.Duration

// {{ syncDoc "StreamConfig" }}
type StreamConfig struct {
	// {{ syncDocIndent "StreamConfig.StorageClass" }}
	StorageClass StorageClass
	// {{ syncDocIndent "StreamConfig.RetentionPolicy" }}
	//
	// Valid types for RetentionPolicy are:
	// 	- `RetentionPolicyAge`
	RetentionPolicy implRetentionPolicy
	// {{ syncDocIndent "StreamConfig.RequireClientTimestamps" }}
	RequireClientTimestamps bool
}

// {{ syncDoc "BasinConfig" }}
type BasinConfig struct {
	// {{ syncDocIndent "BasinConfig.DefaultStreamConfig" }}
	DefaultStreamConfig *StreamConfig
	// {{ syncDocIndent "BasinConfig.CreateStreamOnAppend" }}
	CreateStreamOnAppend bool
}

// {{ syncDoc "CreateBasinRequest" }}
type CreateBasinRequest struct {
	// {{ syncDocIndent "CreateBasinRequest.Basin" }}
	Basin string
	// {{ syncDocIndent "CreateBasinRequest.Config" }}
	Config *BasinConfig
	// {{ syncDocIndent "CreateBasinRequest.Scope" }}
	Scope BasinScope
}

// {{ syncDoc "DeleteBasinRequest" }}
type DeleteBasinRequest struct {
	// {{ syncDocIndent "DeleteBasinRequest.Basin" }}
	Basin string
	// Delete basin if it exists else do nothing.
	IfExists bool
}

// {{ syncDoc "ReconfigureBasinRequest" }}
type ReconfigureBasinRequest struct {
	// {{ syncDocIndent "ReconfigureBasinRequest.Basin" }}
	Basin string
	// {{ syncDocIndent "ReconfigureBasinRequest.Config" }}
	Config *BasinConfig
	// {{ syncDocIndent "ReconfigureBasinRequest.Mask" }}
	Mask []string
}

// {{ syncDoc "CreateStreamRequest" }}
type CreateStreamRequest struct {
	// {{ syncDocIndent "CreateStreamRequest.Stream" }}
	Stream string
	// {{ syncDocIndent "CreateStreamRequest.Config" }}
	Config *StreamConfig
}

// {{ syncDoc "DeleteStreamRequest" }}
type DeleteStreamRequest struct {
	// {{ syncDocIndent "DeleteStreamRequest.Stream" }}
	Stream string
	// Delete stream if it exists else do nothing.
	IfExists bool
}

// {{ syncDoc "ReconfigureStreamRequest" }}
type ReconfigureStreamRequest struct {
	// {{ syncDocIndent "ReconfigureStreamRequest.Stream" }}
	Stream string
	// {{ syncDocIndent "ReconfigureStreamRequest.Config" }}
	Config *StreamConfig
	// {{ syncDocIndent "ReconfigureStreamRequest.Mask" }}
	Mask []string
}

// {{ syncDoc "ReadLimit" }}
type ReadLimit struct {
	// {{ syncDocIndent "ReadLimit.Count" }}
	Count *uint64
	// {{ syncDocIndent "ReadLimit.Bytes" }}
	Bytes *uint64
}

// {{ syncDoc "ReadRequest" }}
type ReadRequest struct {
	// {{ syncDocIndent "ReadRequest.StartSeqNum" }}
	StartSeqNum uint64
	// {{ syncDocIndent "ReadRequest.Limit" }}
	Limit ReadLimit
}

// {{ syncDoc "Header" }}
type Header struct {
	// {{ syncDocIndent "Header.Name" }}
	Name []byte
	// {{ syncDocIndent "Header.Value" }}
	Value []byte
}

// {{ syncDoc "SequencedRecord" }}
type SequencedRecord struct {
	// {{ syncDocIndent "SequencedRecord.SeqNum" }}
	SeqNum uint64
	// {{ syncDocIndent "SequencedRecord.Timestamp" }}
	Timestamp time.Time
	// {{ syncDocIndent "SequencedRecord.Headers" }}
	Headers []Header
	// {{ syncDocIndent "SequencedRecord.Body" }}
	Body []byte
}

// {{ syncDoc "SequencedRecordBatch" }}
type SequencedRecordBatch struct {
	// {{ syncDocIndent "SequencedRecordBatch.Records" }}
	Records []SequencedRecord
}

// {{ syncDoc "ReadOutput_Batch.Batch" }}
type ReadOutputBatch struct {
	*SequencedRecordBatch
}

// {{ syncDoc "ReadOutput_FirstSeqNum.FirstSeqNum" }}
type ReadOutputFirstSeqNum uint64

// {{ syncDoc "ReadOutput_NextSeqNum.NextSeqNum" }}
type ReadOutputNextSeqNum uint64

// {{ syncDoc "ReadOutput" }}
//
// Valid types for ReadOutput are:
//   - `ReadOutputBatch`
//   - `ReadOutputFirstSeqNum`
//   - `ReadOutputNextSeqNum`
type ReadOutput interface {
	implReadOutput()
}

// {{ syncDoc "AppendRecord" }}
type AppendRecord struct {
	// {{ syncDocIndent "AppendRecord.Timestamp" }}
	Timestamp *time.Time
	// {{ syncDocIndent "AppendRecord.Headers" }}
	Headers []Header
	// {{ syncDocIndent "AppendRecord.Body" }}
	Body []byte
}

// {{ syncDoc "AppendInput" }}
type AppendInput struct {
	// {{ syncDocIndent "AppendInput.Records" }}
	Records *AppendRecordBatch
	// {{ syncDocIndent "AppendInput.MatchSeqNum" }}
	MatchSeqNum *uint64
	// {{ syncDocIndent "AppendInput.FencingToken" }}
	FencingToken []byte
}

// {{ syncDoc "AppendOutput" }}
type AppendOutput struct {
	// {{ syncDocIndent "AppendOutput.StartSeqNum" }}
	StartSeqNum uint64
	// {{ syncDocIndent "AppendOutput.NextSeqNum" }}
	NextSeqNum uint64
	// {{ syncDocIndent "AppendOutput.EndSeqNum" }}
	EndSeqNum uint64
}

// {{ syncDoc "ReadSessionRequest" }}
type ReadSessionRequest struct {
	// {{ syncDocIndent "ReadSessionRequest.StartSeqNum" }}
	StartSeqNum uint64
	// {{ syncDocIndent "ReadSessionRequest.Limit" }}
	Limit ReadLimit
}
