package s2

import (
	"context"
)

// {{ syncDoc "AccountServiceClient.ListBasins" }}
func (c *Client) ListBasins(ctx context.Context, req *ListBasinsRequest) (*ListBasinsResponse, error) {
	return c.listBasins(ctx, req)
}

// {{ syncDoc "AccountServiceClient.GetBasinConfig" }}
func (c *Client) GetBasinConfig(ctx context.Context, basin string) (*BasinConfig, error) {
	return c.getBasinConfig(ctx, basin)
}

// {{ syncDoc "BasinServiceClient.ListStreams" }}
func (b *BasinClient) ListStreams(ctx context.Context, req *ListStreamsRequest) (*ListStreamsResponse, error) {
	return b.listStreams(ctx, req)
}

// {{ syncDoc "BasinServiceClient.GetStreamConfig" }}
func (b *BasinClient) GetStreamConfig(ctx context.Context, basin string) (*StreamConfig, error) {
	return b.getStreamConfig(ctx, basin)
}

// {{ syncDoc "StreamServiceClient.CheckTail" }}
func (s *StreamClient) CheckTail(ctx context.Context) (uint64, error) {
	return s.checkTail(ctx)
}
