package s2

import (
	"time"
)

// {{ syncDoc "BasinState" }}
type BasinState uint

const (
	// {{ syncDocIndent "BasinState_BASIN_STATE_UNSPECIFIED" }}
	BasinStateUnspecified BasinState = iota
	// {{ syncDocIndent "BasinState_BASIN_STATE_ACTIVE" }}
	BasinStateActive
	// {{ syncDocIndent "BasinState_BASIN_STATE_CREATING" }}
	BasinStateCreating
	// {{ syncDocIndent "BasinState_BASIN_STATE_DELETING" }}
	BasinStateDeleting
)

// {{ syncDoc "BasinInfo" }}
type BasinInfo struct {
	// {{ syncDocIndent "BasinInfo.Name" }}
	Name string
	// {{ syncDocIndent "BasinInfo.Scope" }}
	Scope string
	// {{ syncDocIndent "BasinInfo.Cell" }}
	Cell string
	// {{ syncDocIndent "BasinInfo.State" }}
	State BasinState
}

// {{ syncDoc "ListBasinsRequest" }}
type ListBasinsRequest struct {
	// {{ syncDocIndent "ListBasinsRequest.Prefix" }}
	Prefix string
	// {{ syncDocIndent "ListBasinsRequest.StartAfter" }}
	StartAfter string
	// {{ syncDocIndent "ListBasinsRequest.Limit" }}
	Limit uint64
}

// {{ syncDoc "ListBasinsResponse" }}
type ListBasinsResponse struct {
	// {{ syncDocIndent "ListBasinsResponse.Basins" }}
	Basins []BasinInfo
	// {{ syncDocIndent "ListBasinsResponse.HasMore" }}
	HasMore bool
}

// {{ syncDoc "StreamInfo" }}
type StreamInfo struct {
	// {{ syncDocIndent "StreamInfo.Name" }}
	Name string
	// {{ syncDocIndent "StreamInfo.CreatedAt" }}
	CreatedAt time.Time
	// {{ syncDocIndent "StreamInfo.DeletedAt" }}
	DeletedAt *time.Time
}

// {{ syncDoc "ListStreamsRequest" }}
type ListStreamsRequest struct {
	// {{ syncDocIndent "ListStreamsRequest.Prefix" }}
	Prefix string
	// {{ syncDocIndent "ListStreamsRequest.StartAfter" }}
	StartAfter string
	// {{ syncDocIndent "ListStreamsRequest.Limit" }}
	Limit uint64
}

// {{ syncDoc "ListStreamsResponse" }}
type ListStreamsResponse struct {
	// {{ syncDocIndent "ListStreamsResponse.Streams" }}
	Streams []StreamInfo
	// {{ syncDocIndent "ListStreamsResponse.HasMore" }}
	HasMore bool
}

// {{ syncDoc "StorageClass" }}
type StorageClass uint

const (
	// {{ syncDocIndent "StorageClass_STORAGE_CLASS_UNSPECIFIED" }}
	StorageClassUnspecified StorageClass = iota
	// {{ syncDocIndent "StorageClass_STORAGE_CLASS_STANDARD" }}
	StorageClassStandard
	// {{ syncDocIndent "StorageClass_STORAGE_CLASS_EXPRESS" }}
	StorageClassExpress
)

// {{ syncDoc "StreamConfig_Age.Age" }}
type RetentionPolicyAge time.Duration

// {{ syncDoc "StreamConfig" }}
type StreamConfig struct {
	// {{ syncDocIndent "StreamConfig.StorageClass" }}
	StorageClass StorageClass
	// {{ syncDocIndent "StreamConfig.RetentionPolicy" }}
	//
	// Valid types for RetentionPolicy are:
	// 	- `RetentionPolicyAge`
	RetentionPolicy implRetentionPolicy
}

// {{ syncDoc "BasinConfig" }}
type BasinConfig struct {
	// {{ syncDocIndent "BasinConfig.DefaultStreamConfig" }}
	DefaultStreamConfig *StreamConfig
}

// {{ syncDoc "CreateBasinRequest" }}
type CreateBasinRequest struct {
	// {{ syncDocIndent "CreateBasinRequest.Basin" }}
	Basin string
	// {{ syncDocIndent "CreateBasinRequest.Config" }}
	Config *BasinConfig
	// TODO: Assignment when implemented
}

// {{ syncDoc "DeleteBasinRequest" }}
type DeleteBasinRequest struct {
	// {{ syncDocIndent "DeleteBasinRequest.Basin" }}
	Basin string
	// Delete basin if it exists else do nothing.
	IfExists bool
}

// {{ syncDoc "ReconfigureBasinRequest" }}
type ReconfigureBasinRequest struct {
	// {{ syncDocIndent "ReconfigureBasinRequest.Basin" }}
	Basin string
	// {{ syncDocIndent "ReconfigureBasinRequest.Config" }}
	Config *BasinConfig
	// {{ syncDocIndent "ReconfigureBasinRequest.Mask" }}
	Mask []string
}
